body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 30%);
}


#calculator{
    font-family: arial, sans-serif;
    background-color: hsl(305, 81%, 49%);
    border-radius: 50px;
    max-width: 500px;
    overflow: hidden;
}


#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hwb(313 64% 0%);
    color: #fff;
}


#keys{
    display: grid;
         grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}



button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
        border: none;
    background-color: hsl(320, 100%, 35%);
    color: rgb(255, 201, 248);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(320, 100%, 45%);
}
button:active{
    background-color: hsl(320, 100%, 55%);
}
.operator-btn{
    background-color: hsl(295, 100%, 32%);
}
.operator-btn:hover{
    background-color: hsl(295, 100%, 42%);
}
.clear-btn{
    background-color: hsl(345, 100%, 50%);
}
.clear-btn:hover{
    background-color: hsl(345, 100%, 60%);
}